@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html{
    scroll-behavior: smooth;
}

/* ============== BASIC ================== */
::-webkit-scrollbar {
    display: none;
}
.container {
    width: 90%;
    margin: auto;
}
section {
    width: 100%;
    min-height: 80vh;
}
.content {
    padding-top: 150px;
}

.section-heading {
    color: black;
    font-size: 3rem;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 4rem;
}
/* ================ HEADER ========== */

header{
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 60px;
    background: black;
    border-bottom: 2px solid rgb(115, 97, 97);
    /* box-shadow: 0 3px 10px rgb(102, 92, 92); */
    z-index: 100;
}

.navbar {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}
.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 3rem;
    list-style: none;
}

.nav-link{
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 100;
    color: rgb(208, 189, 189);
}

.nav-link:hover{
    color: #ffffff;
}

.nav-logo {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 200;
    color: #fff;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}


/* ================ BANNER ========== */
.banner {
    /* margin-top: 60px; */
    background-color: black;
    color: white;
    background:linear-gradient(45deg, rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.8)), url(img/banner.jpg);
    background-position: center;
    background-size: cover;
}
.banner h1 {
    font-size: 7rem;
    text-shadow: 3px 3px red;
    letter-spacing: 8px;
    animation: fadeIn 2s linear infinite;
}

@keyframes fadeIn {
    0%, 100%{opacity: 1;}
    50% { opacity: 0.3;}
}

.banner-img {
    position: absolute;
    right: 0;
    bottom: 40px;
    width: 45%;

}
.banner-img img {
    width: 100%;
}

.arrow {
    position: relative;
    width: 10%;
    margin: auto;
    cursor: pointer;
    animation: ani 1.5s linear infinite;
}
@keyframes ani {
    0%, 100% {top: -50px;}
    50% {top : -20px}
}
.arrow a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
}
.arrow-icon {
    font-size: 80px;
}


/* ================ ABOUT ========== */

.about .content {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.left-col {
    width: 100%;
}
.right-col {
    width: 90%;
    text-align: justify;
    padding: 0 30px;
}

.left-col img {
    width: 100%;
}

/* ================ SERVICES ========== */
.services-blocks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    overflow-x: scroll;
    margin-bottom: 50px;
}

.block {
    width: 250px;
    border: 2px solid rgba(0, 0, 0, 0.4);
    padding: 15px;
    margin: 10px 30px;
    border-radius: 10px;
    transition: 0.3s;
}

.block:hover {
    color: white;
    background: black;
}

.block-heading {
    margin-bottom: 20px;
}
/* ================ CONTACT ========== */

.contact {
    background-color: black;
}
.contact .section-heading {
    color: white;
    text-align: center;
}
.contact-form{
    width: 70%;
    margin: auto;
    margin-top: 20px;
}
.contact form {
    width: 100%;
}
.input {
    display: block;
    width: 100%;
    height: 25px;
    background: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255);
    margin: 25px auto;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 18px;
}
.input:hover {
    border-color: rgb(11, 240, 186);
}
.btn {
    background: white;
    color: black;
    width: auto;
    height: auto;
    padding: 13px 60px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 10px;
}
.btn:hover {
    background: rgb(11, 240, 186);
    
}
.copyright {
    color: white;
    display: flex;
    justify-content: space-between;
    /* position: relative; */
    bottom: 0px;
    margin-top: 90px;
    padding: 10px;
    border-top: 1px solid white;
}